:root {
    --terracota: rgba(255,120,80,0.8)
}

body {
    display: flex;
    flex-direction: column;
}

/* Header styling */
header {
    background-color: var(--terracota);
    padding-top: 5px;
    padding-bottom: 15px;
}
.link {
    display: inline;
}

ul{
    justify-content: flex-end;
}

li {
    justify-content: flex-end;
    margin: 10px;
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 200%;
}

/*main body styling*/

main {
    flex-direction: row;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: space-evenly;
    margin: 3%
}

#me {
    margin-top: 3%;
    margin-bottom: 3%;
    border-bottom: 2px;
    border-style: ridge;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
/*image titles*/
h3 {
    position: relative;
    margin-bottom: -15px;
    border-style: solid;
    font-size: 140%;
    background-color: var(--terracota);
}